<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<app-navegador [listapantalla]="false" [listaing]="true" [listaproyec]="false" [listaadminproyec]="false"></app-navegador>
<div class="container-fluid">
	    <div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <h1 align="center">ORDENES DE TRABAJO</h1>
            </div>

           </div>
        <div class="row">
            <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col11 mat-app-background basic-container"> -->
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col12">
               <app-todo-list [muestrainiciados]="true" [muestraedita]="true" [muestraasigna]="false" [muestrabotonasigna]="true"></app-todo-list>
            </div>
   <!--          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col12">
                <app-ot-edita [ordentrabajo]="todo" [muestraedita]="true"></app-ot-edita>
            </div> -->
        </div>
</div>